<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bedtime</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="navigateHome()">Back to Menu</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf="!startedBedtime" lines="none" class="label-item">
    <ion-label class="bedtime-label">Start my bedtime</ion-label>
  </ion-item>

  <ion-item *ngIf="!startedBedtime" lines="none" class="datetime-item">
    <ion-datetime [(ngModel)]="sleepStart" presentation="date-time">
      <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>
    </ion-datetime>
  </ion-item>

  <div class="submit-section">
    <ion-button *ngIf="!startedBedtime"
                shape="round"
                (click)="logSleepStart()"
                class="submit-button">Save</ion-button>
  </div>

  <ion-item *ngIf="startedBedtime && !endedBedtime" lines="none" class="label-item">
    <ion-label class="bedtime-label">End my bedtime</ion-label>
  </ion-item>

  <ion-item *ngIf="startedBedtime && !endedBedtime" lines="none" class="datetime-item">
    <ion-datetime [(ngModel)]="sleepEnd" presentation="date-time">
      <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>
    </ion-datetime>
  </ion-item>

  <div class="submit-section">
    <ion-button *ngIf="startedBedtime && !endedBedtime"
                shape="round"
                (click)="logSleepEnd()"
                [disabled]="endedBedtime"
                class="submit-button">Save</ion-button>
  </div>
</ion-content>
