<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RestWise Sleep Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list inset="true">
    <ion-item button [routerLink]="'/bedtime-log'">Log Overnight Sleep</ion-item>
    <ion-item button [routerLink]="'/daytime-sleepiness-log'">Log Daytime Sleepiness</ion-item>
    <ion-item button [routerLink]="'/logged-data-view'">View Logged Data</ion-item>
    <ion-item button [routerLink]="'/setting'">Setting</ion-item>
  </ion-list>
</ion-content>
