#current-time {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #ffe796;
  margin-bottom: 30px;
}

#greeting {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: lightskyblue;
  margin-top: 20px;
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


ion-label {
  text-align: center;
}

ion-col {
  text-align: left;
}

ion-button {
  width: auto;
  padding: 10px 100px;
  margin: 20px;
}

ion-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 5px 5px 0;
  background-color: #3d547d;
  color: white;
}

ion-card p {
  color: white;
}

ion-card ion-card-subtitle {
  color: #ffe796;
}

ion-icon, .page-option {
  font-weight: bold;
}

.display-gif {
  margin-top: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%; /* Adjust this value as needed */
  max-height: 150px; /* Limit the height */
  height: auto;
  text-align: center;
}
