<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>Sleepiness</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="navigateHome()">Back to Menu</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label class="sleepiness-label">My sleepiness level is</ion-label>
  </ion-item>

  <ion-item>
    <ion-range min="1"
               max="7"
               step="1"
               [(ngModel)]="sleepinessLevel"
               snaps="true"
               pin="true"
               class="sleepiness-slider">
      <ion-label slot="start">1</ion-label>
      <ion-label slot="end">7</ion-label>
    </ion-range>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let level of levels">
      <ion-label class="level-label">{{ level }}</ion-label>
      <p class="level-description">{{ levelDescriptions[level - 1] }}</p>
    </ion-item>
  </ion-list>

  <div class="submit-section">
    <ion-button shape="round"
                (click)="logSleepiness()"
                class="submit-button">Save</ion-button>
  </div>
</ion-content>
