.sleepiness-label {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 80px;
  color: #ffe796;
}

ion-list {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sleepiness-slider {
  width: 100%;
}

.level-label {
  font-size: 2.0rem;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 20px;
  display: inline-block;
  color: #ffe796;
}

.level-description {
  font-size: 1rem;
  margin-left: 30px;
  margin-right: 20px;
  line-height: 1.4;
  text-align: right;
}

.submit-button {
  margin-top: 10px;
  width: auto;
  max-width: 300px;
  margin-bottom: 40px;
}

.submit-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
