.log-section {
  text-align: center;
  margin-top: 30px;
}

.section-label {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  color: #ffe796;
}

ion-card {
  padding: 10px;
  margin: 40px 40px 20px;
}

ion-content {
  --padding-top: 0;
}

ion-label h1, h3 {
  color: #ffe796;
}

ion-tab {
  display: block;
  height: 100%;
  overflow-y: auto;
}

.pagination-button {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 40px;
}
