<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Logged Data
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="navigateHome()">Back to Menu</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Bedtime Logs</ion-list-header>
    <ion-card *ngFor="let entry of bedtimeData">
      <ion-card-header>
        <ion-card-title>{{ entry.sleepDate }}</ion-card-title>
        <ion-card-subtitle>Sleep duration: {{ entry.sleepDuration }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-label>
          <h3>Start time: {{entry.sleepStart }}</h3>
          <h3>End time: {{entry.sleepEnd }}</h3>
        </ion-label>
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-list>
    <ion-list-header>Daytime Sleepiness Log</ion-list-header>
      <ion-card *ngFor="let entry of daytimeSleepinessData">
        <ion-card-header>
          <ion-card-title>{{ entry.logTime }}</ion-card-title>
          <ion-card-subtitle>{{ entry.sleepinessLevel }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
  </ion-list>
</ion-content>
