<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Logged Data
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="navigateHome()">Back to Menu</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="bedtime">
        <ion-label>Bedtime Logs</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="sleepiness">
        <ion-label>Daytime Sleepiness Logs</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

    <ion-tab tab="bedtime">
      <ion-list class="log-section">
        <ion-label class="section-label">Recorded Bedtime</ion-label>
        <ion-card *ngFor="let entry of bedtimeDataToShow">
          <ion-card-header>
            <ion-card-title>{{ entry.sleepDate }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              <h1>{{ entry.sleepDuration }}</h1>
              <h2>From {{entry.sleepStart }}</h2>
              <h2>to {{entry.sleepEnd }}</h2>
            </ion-label>
          </ion-card-content>
        </ion-card>

        <ion-row>
          <ion-col size="6">
            <ion-button expand="full" (click)="goBackBedtime()" [disabled]="isFirstBedtimePage()">Go Back</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="full" (click)="loadMoreBedtime()" [disabled]="isLastBedtimePage()">Load More</ion-button>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-tab>

    <ion-tab tab="sleepiness">
      <ion-list class="log-section">
        <ion-label class="section-label">Recorded Daytime Sleepiness</ion-label>
        <ion-card *ngFor="let entry of daytimeSleepinessDataToShow">
          <ion-card-header>
            <h3>{{ entry.sleepinessLevel }}</h3>
            <ion-card-title>{{ entry.logTime }}</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-row>
          <ion-col size="6">
            <ion-button expand="full" (click)="goBackSleepiness()" [disabled]="isFirstSleepinessPage()">Go Back</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="full" (click)="loadMoreSleepiness()" [disabled]="isLastSleepinessPage()">Load More</ion-button>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-tab>
  </ion-tabs>
</ion-content>

